.auth-box
  +mq(min,768px)
    max-width: 400px
  margin: auto
  background-color: #fff
  +prefix('box-shadow',$bxShadow)
  padding: em(10) em(10)
  min-height: 100vh
  
  .auth-header
    padding: em(20) em(15)
    text-align: center
    +ellipsis
    width: 100%
    font-size: em(22)
    color: lighten(#344750, 30)
    margin-top: em(-15)
  .auth-content
    +mq(max,767px)
      padding-bottom: em(40)
    .input-group
      position: relative
      .addon
        position: absolute
        left: em(10)
        top: 50%
        +transform(translateY(-50%))
        background-color: transparent
        padding: 0
        font-size: em(20)
        color: lighten(#344750, 50)
        .fa
          width: 20px
          text-align: center
      #{$all-text-inputs}
        padding-left: em(50)
