.breadcrumb
  display: -webkit-flex
  display: -ms-flex
  display: flex
  padding: em(10) 0
  border-bottom: 1px solid darken(#e8e9ed,10%)
  width: 96%
  margin: auto
  font-size: em(14)
  .breadcrumb-item
    position: relative
    padding-right: em(15)
    margin-right: em(10)
    color: #90a4ab
    font-weight: 400
    &:last-child
      margin: 0
      padding: 0
      &:after
        display: none
    &:after
      position: absolute
      right: 0
      top: 50%
      +transform(translateY(-50%))
      font-size: em(18)
      content: '/'
      color: lighten(#363D4D,40)
    a
      color: #05b1f3
      font-weight: 300
      font-size: em(16)
      &:hover
        text-decoration: underline
    &.current
      font-weight: 600
