.download-app
  &.cta
    height: 100%
    ul
      display: -webkit-flex
      display: -ms-flex
      display: flex
      align-items: center
      height: em($bottom-space)
      li
        flex: 1
        height: 100%
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: center
        &:first-child
          border-right: 1px solid lighten(#444,20%)
        a
          color: #fff
          display: -webkit-flex
          display: -ms-flex
          display: flex
          align-items: center
          .is
            width: 50px
            svg
              fill: #fff
              stroke: #fff
          span
            flex: 1
            font-size: em(18)
            text-align: left
            em
              display: block
