.nav-bg
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  height: 100vh
  background-color: bgc(#000,.3)
  z-index: $zIndex+1
  opacity: 0
  visibility: hidden
.nav
  height: 100vh
  +mq(max,1023px)
    position: fixed
    left: -100%
    top: 0
    +transition
    max-width: 250px
    width: 100%
    +prefix('box-shadow', $bxShadow)
    z-index: $zIndex+2
    background-color: #fff
  .user-img
    text-align: center
    padding: em(20) 0
    background-color: #222
    h1
      padding: em(5) 0 0
      color: #fff
      +ellipsis
      width: 100%
    .avatar
      +size(100px)
      display: inline-block
      overflow: hidden
      border-radius: 50%
      box-shadow: $bxShadow

  >ul

    border-top: 2px solid #f2f4f6
    height: 100%
    overflow: auto
  li
    border-bottom: 1px solid #e9edef
    position: relative
    &.has-sub-menu
      .trigger
        position: absolute
        right: 10px
        top: 2px
        border: 1px solid #f2f4f6
        +size(30px)
        text-align: center
        line-height: 30px
        z-index: 5
      .sub-menu
        display: none
    &:hover,&.active
      >a
        color: #263238

        .icon
          svg
            *
              fill: #03a9f4
              // stroke: #03a9f4
      .sub-nav
        opacity: 1
        left: 100%
        visibility: visible
    .sub-menu
      background-color: darken(#e9edef,30)
      z-index: 6
      border-top: 2px solid #444
      border-bottom: 2px solid #444
      +transition
      li
        border-bottom: 1px solid bgc(#fff,.2)
        &:last-child
          border-bottom: 0
        a
          display: block
          padding: em(10) em(25)
          color: #fff
          font-weight: 300

          .text
            margin: 0
    a
      display: -webkit-flex
      display: -ms-flex
      display: flex
      align-items: center
      color: #78909c
      font-size: em(14)
      font-weight: 400
      letter-spacing: 1px
      text-transform: uppercase
      position: relative
      padding: em(15) em(25)
      text-decoration: none
      .icon
        width: 24px
        font-size: 24px
        text-align: center
        svg
          *
            fill: #78909c
            // stroke: #78909c
      .text
        flex: 1
        // margin-left: em(23)
