$zIndex: 1000
$header-bg: #223254
$bg: bgc(#223254,.9)
.fa-times-thin:before
  content: '\00d7'
  font-style: normal
  color: #fff
.close-btn
  position: fixed
  right: 0
  top: 0
  background-color: #000
  width: 40px
  height: 40px
  z-index: $zIndex + 20
.overlay-box  
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: $zIndex
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center
  visibility: hidden
  opacity: 0
  +transition
  background-color: bgc(#000,.5)
  &.opened
    top: 0
    visibility: visible
    opacity: 1
    .overlay
      top: 0
      visibility: visible
      opacity: 1
    .overlay-bg
      opacity: 1
      visibility: visible
  .back-btn
    width: 40px
    height: 40px
    font-size: em(20)
    font-weight: 300
    position: absolute
    cursor: pointer
    right: -20px
    top: -20px
    background-color: #223254
    color: #fff
    border-radius: 50%
    .fa
      +vam
      line-height: 100%
      z-index: 4
      margin-top: -5px
  .overlay-bg
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: $zIndex
    background-color: #fff
    visibility: hidden
    opacity: 0
    +transition
  .overlay
    background-color: #fff
    z-index: $zIndex + 1
    position: absolute
    width: 70%
    margin: auto
    position: relative
    top: 200px
    opacity: 0
    visibility: hidden
    transition-delay: .5s
    +transition(all .5s $ease-in-out-expo)
    +mq(min,1024px)
      max-width: 800px
    >header
      position: absolute
      left: 0
      top: 0
      +ellipsis
      width: 100%
      z-index: 10
      font-size: em(16)
      display: flex
      justify-content: space-between
      height: $top-space
      display: -webkit-flex
      display: -ms-flex
      display: flex
      justify-content: flex-end
      h2,h1
        padding: em(10)
        flex: 1
    >main
      // overflow: auto
      width: 100%
      // padding-top: em(60)
      // max-height: 100vh
      min-height: 100%
      display: -webkit-flex
      display: -ms-flex
      display: flex
      align-items: center
    .container
      padding: em(20) em(10)
      height: auto
      min-height: 0
  // type 2 for full height
  &.type-2
    .back-btn
      border-right: 1px solid darken($header-bg,20)
      width: 50px
    +mq(max,1023px)
      display: block
      background-color: bgc(#223254,.9)
      .overlay
        left: 0
        height: 100%
        width: 100%
        min-height: 0
        max-height: none
        >main
          height: 100vh
    .overlay
      right: -100%
      top: 0
      left: auto
      background-color: transparent
      +mq(min,1024px)
        max-width: 600px
        height: 100vh
        position: fixed
        +transform(none)
    &.opened
      .overlay
        right: 0
        visibility: visible
        opacity: 1
