/* Slider */

.slick-slider
  position: relative
  display: block
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-touch-callout: none
  -khtml-user-select: none
  -ms-touch-action: pan-y
  touch-action: pan-y
  -webkit-tap-highlight-color: transparent


.slick-list
  position: relative
  display: block
  overflow: hidden
  margin: 0
  padding: 0
  &:focus
    outline: none

  &.dragging
    cursor: pointer
    cursor: hand



.slick-slider
  .slick-track, .slick-list
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)



.slick-track
  position: relative
  top: 0
  left: 0
  display: block
  &:before
    display: table
    content: ''

  &:after
    display: table
    content: ''
    clear: both



.slick-loading .slick-track
  visibility: hidden


.slick-slide
  display: none
  float: left
  height: 100%
  min-height: 1px


[dir='rtl'] .slick-slide
  float: right


.slick-slide
  &:focus
    outline: none
  // img
  //   display: block

  &.slick-loading img
    display: none

  &.dragging img
    pointer-events: none



.slick-initialized .slick-slide
  display: block


.slick-loading .slick-slide
  visibility: hidden


.slick-vertical .slick-slide
  display: block
  height: auto
  border: 1px solid transparent


.slick-arrow.slick-hidden
  display: none



.slick-arrow
  position: absolute
  +mq(max,767px)
    top: 40%
  +mq(min,768px)
    top: 40%
  @include transform(translate(0,-50%))
  width: 80px
  height: 80px
  text-indent: -999px
  background-color: transparent
  border: none
  overflow: hidden
  cursor: pointer
  background-color: #d9d9d9
  border-radius: 50%
  box-shadow: 0px 6px 4px bgc(#8f8d8d,.5)
  &:before
    content: ''
    +vam
    +size(20px)
    border: 1px solid #1b2741
    +transform(rotate(45deg) translate(-50%,-50%))
    transform-origin: center center



  &.slick-prev
    left: em(10)
    &:before
      background-position: -77px -144px
      border-top-color: transparent
      border-right-color: transparent
      +transform(rotate(45deg) translate(-61%, -15%))
    &.slick-disabled
      display: none !important


  &.slick-next
    right: em(10)
    &:before
      +transform(rotate(45deg) translate(-80%, 0%))
      border-bottom-color: transparent
      border-left-color: transparent
      background-position: -88px -144px

    &.slick-disabled
      display: none !important
.slick-dots
  text-align: center
  width: 100%
  position: relative
  z-index: 4
  li
    &.slick-active
      button
        background-color: #1b2741
        color: #fff
        +transform(scale(1.3))
        box-shadow:  0px 3px 4px bgc(#1b2741,.5)
    button
      display: block
      overflow: hidden
      +size(50px)
      padding: 0
      background-color: #1b2741
      border-radius: 50px
      background-color: #d9d9d9
      font-size: em(20)
      border: none
      &.completed
        background-color: #1a8c1f
        color: #fff
      
      +transition
      &:hover,&:active
        outline: none
        
