body 
    p 
        font-family: Noto+Serif, Times New Roman 
        font-size: 14px
        color: #686868
.voucher-container
    display: flex
    flex-direction: column
    vertical-align: middle
    height: 100vh
    .container
        position: relative
        margin: auto
        width: 800px
    img 
        height: auto
    .gift-content
        position: absolute
        top: 3%
        right: 2%
        text-align: right
        h2 
            font-family: Noto+Serif, Times New Roman 
            font-size: 24px
            font-weight: 500
            margin: 15px 0
            color: #2d1b20
        p 
            font-family: Noto+Serif, Times New Roman 
            font-size: 14px
            padding-bottom: 6px
            font-weight: 500
            color: #2d1b20
            span 
                font-weight: 600
                padding-right: 5px
    .guidelines
        position: absolute
        top: 30%
        padding: 0 20px
        h2
            font-family: Noto+Serif, Times New Roman 
            font-size: 24px
            font-weight: 600
            color: #231f20
            span    
                font-weight: 800
                img 
                    height: 20px
                    margin-bottom: 5px
        ul
            padding: 10px 0
        li
            display: flex
            &:before
                content: "\f111"
                font-family: FontAwesome
                color: red
                font-size: 8px
                margin-top: 2px
                margin-right: 8px
            strong
                color: #231f20
            span
                color: #525252
        .first-content
            padding: 70px 0
            ul
                width: 66%
            span
                font-weight: 800
        .second-content
            padding: 100px 0 25px
        .note
            padding: 40px 0
            font-style: italic
            text-align: center
            span 
                font-weight: 600
                text-decoration: none
                color: #fff
