@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
a,
abbr,
acronym,
address,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike tt,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }
  blockquote:after, blockquote:before,
  q:after,
  q:before {
    content: ""; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Reset css end */
:root {
  font-size: 14px; }
  @media (max-width: 786px) {
    :root {
      font-size: 16px; } }

/*Global Css starts */
a {
  color: #189ae6;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0.875em;
  text-decoration: none; }
  a:hover, a:focus {
    color: #45aeec; }

body {
  line-height: 1;
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: #fff; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-word-break: keep-all;
  -o-word-break: keep-all;
  -moz-word-break: keep-all;
  -ms-word-break: keep-all;
  word-break: keep-all; }

img {
  max-width: 100%;
  vertical-align: middle; }

.order-review .container {
  height: 96%; }

.container {
  margin: 0 auto;
  width: 98%;
  padding: 0.625em 0; }
  @media (min-width: 1920px) {
    .container {
      max-width: 1800px; } }

.fl {
  float: left; }

.fr {
  float: right; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.hide {
  display: none; }

.stroke-out {
  text-decoration: line-through; }

.bold {
  font-weight: 800; }

strong {
  font-weight: 600; }

.display-block {
  display: block; }

.display-table {
  display: table; }

.display-table-cell {
  display: table-cell; }

.display-table-row {
  display: table-row; }

.display-flex {
  display: flex; }

.display-flow-root {
  display: flow-root; }

.display-contents {
  display: contents; }

.display-grid {
  display: grid; }

.display-inline-block {
  display: inline-block; }

.display-inline {
  display: inline; }

.display-inline-flex {
  display: inline-flex; }

.display-inline-table {
  display: inline-table; }

.display-inline-grid {
  display: inline-grid; }

.display-none {
  display: none; }

.display-table-caption {
  display: table-caption; }

p {
  font: 300 0.6666666667 "Nunito", sans-serif;
  padding-bottom: 12px; }

.clear20, .clear40, .clear60,
.clear {
  clear: both; }

.clear20 {
  height: 1.25em; }

.clear40 {
  height: 2.5em; }

.clear60 {
  height: 3.75em; }

.desktop-only {
  display: block; }

.mobile-only,
.tab-mobile-only,
.tab-only {
  display: none; }

/*Global Css End */
.w-100 {
  width: 100% !important; }

/* Basic for project */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  padding-bottom: 0.3125em;
  font-family: "Open Sans", sans-serif;
  color: #344750;
  font-weight: 400; }

h1 .tag, h2 .tag, h3 .tag, h4 .tag, h5 .tag, h6 .tag, .h1 .tag, .h2 .tag, .h3 .tag, .h4 .tag, .h5 .tag, .h6 .tag {
  display: inline-block;
  padding: 0.125em 0.3125em;
  background-color: #e9ecf0;
  color: #989a9e;
  border-radius: 0.125em; }

h1 {
  font-size: 1.625em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.375em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.875em; }

p {
  font: 300 14px "Open Sans", sans-serif;
  padding-bottom: 12px; }

em {
  font-style: italic; }

strong {
  font-weight: 600; }

hr {
  border: 1px solid #ddd;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.grid-layout {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: -1%;
  margin-right: -1%;
  flex-wrap: wrap; }
  .grid-layout [class^='grid'] {
    padding-left: 1%;
    padding-right: 1%;
    flex-basis: 0;
    flex-grow: 1; }
  .grid-layout.debug [class^='grid'] {
    border: 1px dashed #666;
    background-color: #e6e6e6;
    color: #666;
    padding-top: 0.9375em;
    padding-bottom: 0.9375em; }

@media (min-width: 768px) {
  .layout-1 .grid:nth-child(odd) {
    flex-basis: 59%; }
  .layout-1 .grid:nth-child(even) {
    flex-basis: 39%; } }
@media (min-width: 1200px) {
  .layout-1 .grid:nth-child(1) {
    flex-basis: 39%; }
  .layout-1 .grid:nth-child(2) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(3) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(4) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(5) {
    flex-basis: 39%; }
  .layout-1 .grid:nth-child(6) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(7) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(8) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(9) {
    flex-basis: 39%; }
  .layout-1 .grid:nth-child(10) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(11) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(12) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(13) {
    flex-basis: 39%; }
  .layout-1 .grid:nth-child(14) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(15) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(16) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(17) {
    flex-basis: 39%; }
  .layout-1 .grid:nth-child(18) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(19) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(20) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(21) {
    flex-basis: 39%; }
  .layout-1 .grid:nth-child(22) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(23) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(24) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(25) {
    flex-basis: 39%; }
  .layout-1 .grid:nth-child(26) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(27) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(28) {
    flex-basis: 19%; }
  .layout-1 .grid:nth-child(29) {
    flex-basis: 39%; }
  .layout-1 .grid:nth-child(30) {
    flex-basis: 19%; } }
@media (min-width: 1600px) {
  .layout-1 .grid:nth-child(n+0) {
    flex-basis: 24%; } }

@media (max-width: 767px) {
  .grid-layout .grid-xs-1 {
    flex: 0 0 8.3333333333%; }

  .grid-layout .grid-xs-2 {
    flex: 0 0 16.6666666667%; }

  .grid-layout .grid-xs-3 {
    flex: 0 0 25%; }

  .grid-layout .grid-xs-4 {
    flex: 0 0 33.3333333333%; }

  .grid-layout .grid-xs-5 {
    flex: 0 0 41.6666666667%; }

  .grid-layout .grid-xs-6 {
    flex: 0 0 50%; }

  .grid-layout .grid-xs-7 {
    flex: 0 0 58.3333333333%; }

  .grid-layout .grid-xs-8 {
    flex: 0 0 66.6666666667%; }

  .grid-layout .grid-xs-9 {
    flex: 0 0 75%; }

  .grid-layout .grid-xs-10 {
    flex: 0 0 83.3333333333%; }

  .grid-layout .grid-xs-11 {
    flex: 0 0 91.6666666667%; }

  .grid-layout .grid-xs-12 {
    flex: 0 0 100%; } }
@media (min-width: 768px) {
  .grid-layout .grid-md-1 {
    flex: 0 0 8.3333333333%; }

  .grid-layout .grid-md-2 {
    flex: 0 0 16.6666666667%; }

  .grid-layout .grid-md-3 {
    flex: 0 0 25%; }

  .grid-layout .grid-md-4 {
    flex: 0 0 33.3333333333%; }

  .grid-layout .grid-md-5 {
    flex: 0 0 41.6666666667%; }

  .grid-layout .grid-md-6 {
    flex: 0 0 50%; }

  .grid-layout .grid-md-7 {
    flex: 0 0 58.3333333333%; }

  .grid-layout .grid-md-8 {
    flex: 0 0 66.6666666667%; }

  .grid-layout .grid-md-9 {
    flex: 0 0 75%; }

  .grid-layout .grid-md-10 {
    flex: 0 0 83.3333333333%; }

  .grid-layout .grid-md-11 {
    flex: 0 0 91.6666666667%; }

  .grid-layout .grid-md-12 {
    flex: 0 0 100%; } }
@media (min-width: 1025px) {
  .grid-layout .grid-lg-1 {
    flex: 0 0 8.3333333333%; }

  .grid-layout .grid-lg-2 {
    flex: 0 0 16.6666666667%; }

  .grid-layout .grid-lg-3 {
    flex: 0 0 25%; }

  .grid-layout .grid-lg-4 {
    flex: 0 0 33.3333333333%; }

  .grid-layout .grid-lg-5 {
    flex: 0 0 41.6666666667%; }

  .grid-layout .grid-lg-6 {
    flex: 0 0 50%; }

  .grid-layout .grid-lg-7 {
    flex: 0 0 58.3333333333%; }

  .grid-layout .grid-lg-8 {
    flex: 0 0 66.6666666667%; }

  .grid-layout .grid-lg-9 {
    flex: 0 0 75%; }

  .grid-layout .grid-lg-10 {
    flex: 0 0 83.3333333333%; }

  .grid-layout .grid-lg-11 {
    flex: 0 0 91.6666666667%; }

  .grid-layout .grid-lg-12 {
    flex: 0 0 100%; } }
@media (min-width: 1367px) {
  .grid-layout .grid-xl-1 {
    flex: 0 0 8.3333333333%; }

  .grid-layout .grid-xl-2 {
    flex: 0 0 16.6666666667%; }

  .grid-layout .grid-xl-3 {
    flex: 0 0 25%; }

  .grid-layout .grid-xl-4 {
    flex: 0 0 33.3333333333%; }

  .grid-layout .grid-xl-5 {
    flex: 0 0 41.6666666667%; }

  .grid-layout .grid-xl-6 {
    flex: 0 0 50%; }

  .grid-layout .grid-xl-7 {
    flex: 0 0 58.3333333333%; }

  .grid-layout .grid-xl-8 {
    flex: 0 0 66.6666666667%; }

  .grid-layout .grid-xl-9 {
    flex: 0 0 75%; }

  .grid-layout .grid-xl-10 {
    flex: 0 0 83.3333333333%; }

  .grid-layout .grid-xl-11 {
    flex: 0 0 91.6666666667%; }

  .grid-layout .grid-xl-12 {
    flex: 0 0 100%; } }
.jc-space-between {
  justify-content: space-between; }

.jc-space-around {
  justify-content: space-around; }

.jc-space-center {
  justify-content: center; }

/* modules that you can use in project */
/* copment created by us */
/* Third party plugins */
body p {
  font-family: NotoSerif, Times New Roman;
  font-size: 14px;
  color: #686868; }

.voucher-container {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  height: 100vh; }
  .voucher-container .container {
    position: relative;
    margin: auto;
    width: 800px; }
  .voucher-container img {
    height: auto; }
  .voucher-container .gift-content {
    position: absolute;
    top: 3%;
    right: 2%;
    text-align: right; }
    .voucher-container .gift-content h2 {
      font-family: NotoSerif, Times New Roman;
      font-size: 24px;
      font-weight: 500;
      margin: 15px 0;
      color: #2d1b20; }
    .voucher-container .gift-content p {
      font-family: NotoSerif, Times New Roman;
      font-size: 14px;
      padding-bottom: 6px;
      font-weight: 500;
      color: #2d1b20; }
      .voucher-container .gift-content p span {
        font-weight: 600;
        padding-right: 5px; }
  .voucher-container .guidelines {
    position: absolute;
    top: 30%;
    padding: 0 20px; }
    .voucher-container .guidelines h2 {
      font-family: NotoSerif, Times New Roman;
      font-size: 24px;
      font-weight: 600;
      color: #231f20; }
      .voucher-container .guidelines h2 span {
        font-weight: 800; }
        .voucher-container .guidelines h2 span img {
          height: 20px;
          margin-bottom: 5px; }
    .voucher-container .guidelines ul {
      padding: 10px 0; }
    .voucher-container .guidelines li {
      display: flex; }
      .voucher-container .guidelines li:before {
        content: "";
        font-family: FontAwesome;
        color: red;
        font-size: 8px;
        margin-top: 2px;
        margin-right: 8px; }
      .voucher-container .guidelines li strong {
        color: #231f20; }
      .voucher-container .guidelines li span {
        color: #525252; }
    .voucher-container .guidelines .first-content {
      padding: 70px 0; }
      .voucher-container .guidelines .first-content ul {
        width: 66%; }
      .voucher-container .guidelines .first-content span {
        font-weight: 800; }
    .voucher-container .guidelines .second-content {
      padding: 100px 0 25px; }
    .voucher-container .guidelines .note {
      padding: 40px 0;
      font-style: italic;
      text-align: center; }
      .voucher-container .guidelines .note span {
        font-weight: 600;
        text-decoration: none;
        color: #fff; }

/*# sourceMappingURL=styles.css.map */
